@import './styles/global.css';
@import './styles/button.css';
@import './styles/dropdown.css';
@import './styles/badge.css';
@import './styles/toast.css';
@import './styles/alert.css';
@import './styles/card.css';
@import './styles/modal.css';
@import './styles/table.css';
@import './styles/switch.css';
@import './styles/checkbox.css';
@import './styles/radio.css';
@import './styles/search.css';
@import './styles/skeleton.css';
@import './styles/grid.css';
@import './styles/tabs.css';
@import './styles/sidemenu.css';
@import './styles/stepper.css';
